.skills {
    /*padding-top: 50rem;*/
    margin-top: 58rem;
    border: 3px solid greenyellow;
    position: fixed;
    width: 100%;
    height: auto;
}

.skillsContent img {
    width: 4rem;
    height: 4rem;
}