*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #081b29;
    /*animation: myAnim 2s ease 0s 1 normal forwards;*/

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: fixed;
}
.navLinks{
 margin-right: 1rem;
}
@keyframes myAnim {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.logoDiv{
    animation: myAnim .5s ease-in-out forwards;
}

.logo{
    font-size: 30px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;

}

nav a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 100px;
    transition: 3s;

}
nav a:hover,
nav a.active {
    color: #00abf0;
}

.hamburgerText{
    display: none;
}

.mobileNav{
    display: none;
}



@media (max-width: 768px) {


    nav {
        display: none;
    }
    .mobileNav{
        display: block;
        padding: 20px 30px 20px 30px;
        background-color: #00abf0;
        position: relative;
    }
    .wrapDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        position: relative;
    }
    .mobileLogoDiv{
        display: block;
        animation: myAnim .5s ease-in-out forwards;

    }
    .mobileLogo{
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: #FFFFFF;
    }
    .hamburgerText {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        gap: 2rem;
        padding-top: 2rem;

    }

     .hamburgerText a{
            font-size: 18px;
            color: #ededed;
            text-decoration: none;
            font-weight: 500;
     }
     .hamburgerText a:hover {
            color: #00abf0;
     }

    }

@media (min-width: 769px) and (max-width: 992px) {

    .nav {
        display: none;
    }
    .logoDiv{
        display: none;
    }
    .logo{
        display: none;
    }

    .navLinks{
        display: none;
    }
    .mobileNav{
        display: block;
        padding: 20px 30px 20px 30px;
        background-color: #00abf0;
        position: relative;
    }
    .wrapDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        position: relative;
    }
    .mobileLogoDiv{
        display: block;
        animation: myAnim .5s ease-in-out forwards;

    }
    .mobileLogo{
        font-size: 28px;
        font-weight: 600;
        text-decoration: none;
        color: #FFFFFF;
    }

    .icon{
        font-size: 28px;
    }
    .hamburgerText {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        gap: 2rem;
        padding-top: 2rem;

    }

    .hamburgerText a{
        font-size: 18px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
    }
    .hamburgerText a:hover {
        color: #00abf0;
    }


}